In [ ]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [5]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
%sql ibm_db_sa://

##### Display the names of the unique launch sites  in the space mission

In [9]:
%%sql
SELECT DISTINCT(launch_site) from spacex

 * ibm_db_sa://dhw47662:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]

##### Display 5 records where launch sites begin with the string 'CCA'

In [12]:
%%sql
SELECT * FROM spacex 
WHERE launch_site LIKE 'CCA%' 
LIMIT 5;

 * ibm_db_sa://dhw47662:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[(datetime.date(2010, 6, 4), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', None, 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', None, 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 5, 22), datetime.time(7, 44), 'F9 v1.0  B0005', 'CCAFS LC-40', None, 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(2012, 10, 8), datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', None, 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 1), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', None, 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [16]:
%%sql
SELECT SUM(payload_mass__kg_) FROM spacex
WHERE customer = 'NASA (CRS)'

 * ibm_db_sa://dhw47662:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[(45596,)]

##### Display average payload mass carried by booster version F9 v1.1

In [17]:
%%sql
SELECT AVG(payload_mass__kg_) FROM spacex
WHERE booster_version = 'F9 v1.1'

 * ibm_db_sa://dhw47662:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[(2928,)]


##### List the date when the first successful landing outcome in ground pad was acheived.

In [25]:
%%sql
SELECT MIN(DATE) from spacex
WHERE mission_outcome = 'Success'

 * ibm_db_sa://dhw47662:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[(datetime.date(2010, 6, 4),)]